body {
  font-family: "Space Grotesk", sans-serif;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 20px;
}

#menu-toggle {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #ffffff;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.nav-links li {
  margin-left: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  transition: color 0.2s;
}

.nav-links a:hover {
  background-color: #ff9900;
  color: #fff;
  padding: 5px;
  border-radius: 10%;
}

/* responsive menu for mobile devices */
@media (max-width: 600px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 10px 0;
    border-top: 1px solid #ccc;
  }

  .nav-links li {
    margin: 10px 0;
    text-align: center;
  }
}

#menu-toggle:checked + .nav-links {
  display: flex;
}
